body {background-color: bisque;}
h1 {
    background-color: deeppink;
    color:floralwhite}
.class-teste {
    background-color: darkblue;
    color:aliceblue}
#id-teste {
    background-color: brown;
    color:antiquewhite}